.emp-card {
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin: 5px;
  background-color: white;
}

.emp-row {
  border-top: 1px solid grey;
  margin: 0;
  padding: 5px;
}

.emp-avatar {
    border-radius: 50%;
}

.slash-seperator {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
    z-index: -1;
}
