<div class="emp-card">    
    <div>
        <img src="img_snowtops.jpg" class="emp-avatar" alt="Avatar">
        <div>
            <p>{{employee.name}}</p>
            <p>{{employee.designation}}</p>
        </div>        | 
         | message
        <p>{{employee.rating}} stars...</p>
    </div>
    <p class="emp-row">Experience: {{employee.experience}} | Date of Joining: {{employee.doj}}</p>
    <p class="emp-row">Current Team: {{employee.currentTeam}}</p>
    <p class="emp-row">Reporting Manager: {{employee.rm}}</p>
    <p class="emp-row">{{employee.mobile}} {{employee.email}}</p>
</div>

